<div class="container-fluid dui-example-app">
    <div class="row">
        <div class="col-xs-12">
            <h1>Accordion Example</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Examples</div>
                        <div class="panel-body">
                            <h2>Accordion</h2>
                            <!--Variation One-->
                            <hr>
                            <h4>Variation 1 <span class="label label-default text-uppercase">json</span></h4>
                            <hr>
                            <pre highlight-js-content="code">
                              <code>
                            {{accordion | json}}
                              </code>
                            </pre>
                            <hr>
                            <h4>Variation 1 <span class="label label-default text-uppercase">usage</span></h4>
                            <hr>
                            <pre highlight-js-content="code">
                              <code>
                            {{variationOne}}
                              </code>
                            </pre>
                            <hr>
                            <h4>Variation 1 <span class="label label-default text-uppercase">output</span></h4>
                            <hr>
                            <!-- <ng-template [rgDynamicLoader]='[accordion]' [componentMapping]='componentsMap'></ng-template> -->
                            <ngx-accordion [data]='accordion' [componentsMap]="componentsMap"></ngx-accordion>

                            <hr>
                            <h4>Variation 2 <span class="label label-default text-uppercase">json</span></h4>
                            <hr>
                            <pre highlight-js-content="code">
                              <code>
                            {{ expander | json}}
                              </code>
                            </pre>
                            <hr>
                            <h4>Variation 2 <span class="label label-default text-uppercase">usage</span></h4>
                            <hr>
                            <pre highlight-js-content="code">
                              <code>
                            {{variationTwo}}
                              </code>
                            </pre>
                            <hr>
                            <h4>Variation 2 <span class="label label-default text-uppercase">output</span></h4>
                            <hr>
                            <!-- <ng-template [rgDynamicLoader]='[expander]' [componentMapping]='componentsMap'></ng-template> -->
                            <ngx-accordion [data]="expander" [componentsMap]="componentsMap"></ngx-accordion>


                            <hr>
                            <h4>Variation 4 <span class="label label-default text-uppercase">json</span></h4>
                            <hr>
                            <pre highlight-js-content="code">
                              <code>
                                No JSON | using tags
                              </code>
                            </pre>
                            <hr>
                            <h4>Variation 3 <span class="label label-default text-uppercase">usage</span></h4>
                            <hr>
                            <pre highlight-js-content="code">
                              <code>
                            {{variationFour}}
                              </code>
                            </pre>
                            <hr>
                            <h4>Variation 3 <span class="label label-default text-uppercase">output</span></h4>
                            <hr>
                            <ngx-accordion>
                                This is a outer header
                                <ngx-accordion-container>
                                    <div class="ngx-accordion-header">
                                        <span>Accordion Header 1</span>
                                        <button>
                                            <ngx-accordion-toggle>Custom clickable heading</ngx-accordion-toggle>
                                        </button>
                                    </div>
                                    <div class="ngx-accordion-body">
                                        <div>Accordion body 1</div>
                                    </div>
                                </ngx-accordion-container>
                                <ngx-accordion-container>
                                    <div class=" ngx-accordion-header ">
                                        <div>Accordion Header 2</div>
                                    </div>
                                    <div class="ngx-accordion-body">
                                        <div>Accordion body 2</div>
                                    </div>
                                </ngx-accordion-container>

                            </ngx-accordion>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>